html, body, #IDsuperMap {
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: 'Marianne-regular', Arial, Helvetica, sans-serif !important;
}

#sidebar {
	position: absolute;
}

#goTo {
	cursor: pointer;
	margin-top:10px;
	right:45px;
	z-index: 1000;
	display: block;
	position: absolute;
	font-family: 'abel-regular', Arial, Helvetica, sans-serif;
	font-weight: bolder;
	border: none;
	height: 30px;
	border-color: transparent;
	padding: 5px;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.45);
	outline: none;
	transition: .2s ease-in-out;
}

/* -------------------------------------------------------------------------- */
/*                                LayerControl FONDS                             	      */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                LEGENDE                             	      */
/* -------------------------------------------------------------------------- */



#title-legend-1{
	font-family: "Marianne", sans-serif; /* Utilise la police Marianne ou une police sans-serif de secours */
	font-size: 20px; /* Taille de police 10 pixels */
	color: #313778; /* Couleur de police bleue */
}



/* Personnalisation du style de l'élément rétractable */
details {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
}

/* Personnalisation du style de l'étiquette de résumé */
summary {
cursor: pointer;
font-weight: bold;
}


