html, body, #IDsuperMap {
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: 'Marianne-regular', Arial, Helvetica, sans-serif !important;
}

#sidebar {
	position: absolute;
}

#goTo {
	cursor: pointer;
	margin-top:10px;
	right:45px;
	z-index: 1000;
	display: block;
	position: absolute;
	font-family: 'abel-regular', Arial, Helvetica, sans-serif;
	font-weight: bolder;
	border: none;
	height: 30px;
	border-color: transparent;
	padding: 5px;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.45);
	outline: none;
	transition: .2s ease-in-out;
}

/* -------------------------------------------------------------------------- */
/*                                    SIDEBAR                                 */
/* -------------------------------------------------------------------------- */
#sidebar {
	position: absolute;
}

/*bar tabs*/
.leaflet-sidebar-tabs {
	background-color: #313778;
	background: linear-gradient(180deg, #313778 0%, rgb(169, 173, 214) 100%);
	box-shadow: 2px 0px 2px 0px #656565;
}

.leaflet-sidebar-tabs > ul > li {
	color: white;
}

/*changment de couleur quand clic*/
.leaflet-sidebar-tabs > ul > li.active, .leaflet-sidebar-tabs > ul > li.active:hover {
	background-color: rgb(249, 249, 251);
	color: #313778;
	border-left: solid 3px #F2CB27;
}

.tab-name {
	position: absolute;
	display: none;
	z-index: 10000;
	left: 50px;
	background: rgba(0,0,0,.8) !important;
	font-family: 'Marianne-Bold';
	font-size: .9rem;
	text-transform: uppercase;
	text-align: center;
	color: white !important;
	width: 100px;
	border-radius: 3px;
}


.leaflet-sidebar-header {
	margin: 0px 10px 0px 5px;
	padding:0px 10px 0px 5px;
	font-family: 'Marianne', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	height: auto;
	color: #313778;
	background-color: white;
}

.leaflet-sidebar-pane{
	padding:0px 0px 0px 5px;
}

/* -------------------------------------------------------------------------- */
/*                                  Content SIDEBAR                           */
/* -------------------------------------------------------------------------- */

.panel-content {
	margin: 0px 10px 0px 10px;
}


/* ------------------------------Fonds carto----------------------------------*/


/* --------------------------------Legende--------------------------------*/

#legend {
	display: block;
}

#title-legend-1{
	font-family: "Marianne", sans-serif; /* Utilise la police Marianne ou une police sans-serif de secours */
	font-size: 20px; /* Taille de police 10 pixels */
	color: #313778; /* Couleur de police bleue */
}



/* Personnalisation du style de l'élément rétractable */
details {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
}

/* Personnalisation du style de l'étiquette de résumé */
summary {
cursor: pointer;
font-weight: bold;
}

/* Bouton clear legende*/

#clear-legend-button {
	font-family: "Marianne", sans-serif; /* Utilise la police Marianne ou une police sans-serif de secours */
	font-size: 10px; /* Taille de police 10 pixels */
	border-radius: 5px; /* Bords arrondis */
	background-color: #616DAF; /* Fond bleu */
	color: white; /* Texte en blanc */
	padding: 5px 10px; /* Marge interne pour un meilleur aspect */
	cursor: pointer; /* Curseur en main pour indiquer un bouton cliquable */

}


/* -------------------------------------------------------------------------- */
/*                                   CARD                              		  */
/* -------------------------------------------------------------------------- */
#card-sidebar{
	margin: 0px 0px 20px 0px;
}


#card {
	margin: 10px 0px 10px 0px;
	display: none;
	background-color: white;
	color: #313778;
	padding: 0px; /* Espace intérieur autour du contenu */
	border: 2px solid rgba(0,0,0,.125); 
	border-radius: 2px; /* Coins arrondis */
	font-family: 'Marianne-Bold', sans-serif;
	word-wrap: break-word; /*comment couper le mot*/
}

.card-header {
	background-color: #398373;
	margin-bottom: 0;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
	flex: 1 1 auto;
	padding: 0.5rem 0.5rem;
}

.title-card-header{
	font-family:'Marianne', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	font-size: 1.6em;
	margin-top: 0;
	margin-bottom: 0rem;
	
}

/* Sous-titre de la card*/
.title-card-body {
	font-family: 'Marianne', sans-serif; /* Police de caractères Marianne */
	color: #313778;
	font-size: 1em;
	margin-top: .2rem;
	margin-bottom: 0rem;
}


/* --------------------------------BOUTON RETOUR------------------------------ */

#bnt-retour {
	font-family: "Marianne", sans-serif; /* Utilise la police Marianne ou une police sans-serif de secours */
	font-size: 12px; /* Taille de police 10 pixels */
	border-radius: 5px; /* Bords arrondis */
	background-color: #398373; /* Fond bleu */
	color: white; /* Texte en blanc */
	padding: 5px 10px; /* Marge interne pour un meilleur aspect */
	cursor: pointer; /* Curseur en main pour indiquer un bouton cliquable */
	display: none;

}


